body {
  background-color: #252525;
}

.App {
  text-align: center;
   min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  font-size: calc(10px + 2vmin);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
/* 
.App-header {
  background-color: #282c34;
   min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.Place {
  position: relative;
  overflow: visible;

  width: 200px;
  height: 300px;
  background-color: #454141;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  
  
}

.Place::before {
  content: "";
  position: absolute;
  inset: -6px;
  z-index: -1;

  background-color: rgb(0, 0, 0);
  border-radius: 26px;
  filter: blur(20px);

}

.Place > * {
  margin: 5px;
}

.ui {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ui > * {
  margin: 8px;
}

.ui > input {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ui > button {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  width: 50%; 
}

.theme {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 8px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
}