body {
  background-color: #252525;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  font-size: calc(20px + 2vmin);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.App-header {
  display: grid;
  grid-template-columns: 4fr 2fr;
  column-gap: 0px;
}

.App-header > * {
  margin: auto auto;
}

.Place {
  position: relative;
  overflow: visible;

  width: 27%;
  height: 300px;
  background-color: #2f2f2f;
  border-radius: 100px;

  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  
}

.Place::before {
  content: "";
  position: absolute;
  inset: -2px;
  z-index: -1;

  background-color: rgb(62, 90, 150);
  border-radius: 102px;
  filter: blur(20px);
}

.Place > * {
  margin: 5px;
  
}

.title {
  color: white;

}

.ui {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.ui > * {
  margin: 8px;
}

.ui > input {
  
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 8px 10px;
  background: rgb(31, 32, 35);
  border: 1px solid rgb(60, 63, 68);
  border-radius: 4px;
  font-size: 13px;
  color: rgb(247, 248, 248);
  appearance: none;
  transition: border 0.15s ease 0s; 
   

}
.ui > input:focus{
  outline: none;
  box-shadow: none;
  border-color: rgb(100, 153, 255);
}

button {
  border: 0px solid black;
  border-radius: 10px;
  font-size: 15px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;

  padding: 5px;
  background: rgb(31, 32, 35);
  border: 1px solid rgb(60, 63, 68);
  border-radius: 4px;
  font-size: 12px;
  color: #757575;
  transition: 
    box-shadow 0.5s ease 0s,
    transform 0.3s ease 0s;

}
button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px rgb(62, 90, 150);
}


.ui > button {
  width: 60%; 
  margin-bottom: 25px;
}

.theme {
  position: absolute;
  bottom: 5%;

  font-size: 8px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;

  
}